Source: lliurex-meta
Section: admin
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: debhelper (>= 10), germinate, lliurex-meta-tools
Standards-Version: 4.1.2
Homepage: https://lliurex.net
Vcs-Git: https://github.com/lliurex/lliurex-meta.git

Package: lliurex-meta-desktop
Architecture: any-amd64
Lliurex-Flavours: desktop, edu
Depends: ${shlibs:Depends}, ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: MetaPackage of Lliurex Desktop
 List of all packages for lliurex

Package: lliurex-meta-minimal-client
Architecture: any-amd64
Lliurex-Flavours: edu, minimal-client
Depends: ${shlibs:Depends}, ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: MetaPackage of Lliurex minimal client
 List of all packages for lliurex

Package: lliurex-meta-client
Architecture: any-amd64
Lliurex-Flavours: client, edu
Depends: ${shlibs:Depends}, ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: MetaPackage of Lliurex Client
 List of all packages for lliurex

Package: lliurex-meta-client-lite
Architecture: any-amd64
Lliurex-Flavours: client
Depends: ${shlibs:Depends}, ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: MetaPackage of Lliurex Client lite
 List of all packages for lliurex


Package: lliurex-meta-server
Architecture: any-amd64
Lliurex-Flavours: server, edu
Depends: ${shlibs:Depends}, ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: MetaPackage of Lliurex Server
 List of all packages for lliurex

Package: lliurex-meta-server-lite
Architecture: any-amd64
Lliurex-Flavours: server
Depends: ${shlibs:Depends}, ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: MetaPackage of Lliurex Server lite
 List of all packages for lliurex


Package: lliurex-meta-infantil
Architecture: any-amd64
Lliurex-Flavours: edu, infantil
Depends: ${shlibs:Depends}, ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: MetaPackage of Lliurex Infantil
 List of all packages for lliurex

Package: lliurex-meta-pime
Architecture: any-amd64
Lliurex-Flavours: pime, edu
Depends: ${shlibs:Depends}, ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: MetaPackage of Lliurex Live
 List of all packages for lliurex

Package: lliurex-meta-music
Architecture: any-amd64
Lliurex-Flavours: music, edu
Depends: ${shlibs:Depends}, ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: MetaPackage of Lliurex Live
 List of all packages for lliurex

Package: lliurex-meta-supported
Architecture: any-amd64
Lliurex-Flavours: supported, edu
Depends: ${shlibs:Depends}, ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: MetaPackage of Lliurex Live
 List of all packages for lliurex

Package: lliurex-meta-live
Architecture: any-amd64
Lliurex-Flavours: live, edu
Depends: ${shlibs:Depends}, ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: MetaPackage of Lliurex Live
 List of all packages for lliurex

